# Python virtual environment
costenv/
venv/
*.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# DVC internal files (NEVER gitignore .dvc/config or stages)
.dvc/cache
.dvc/tmp
.dvc/lock

# Data files (tracked by DVC, not Git)
data/
outputs/
models/

# Streamlit
.streamlit/

# IDE specific
.vscode/
.idea/